* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auth-main {
    align-items: center;
    display: flex;
    justify-content: center;
}

.centrar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-box-container {
    width: 500px;
    padding: 25px;
}

.checkbox-address-container {
    width: 600px;
    padding: 25px;
}

.hv:hover {
    border: 1px solid #000;
}

@media (max-width: 767.98px) {
    .disable-card-header {
        display: none;
    }
}

@media (min-width: 768px) {
    .enable-card-header {
        display: none;
    }
}

@media (min-width: 767.98px) { 
    .enable-span {
        display: none;
    }
}

.comentarios {
    display: flex;
}

.circulo {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaFondo {
  background-color: white !important;
}

.listaFondo:hover {
    background-color: #F8F9FA !important;
}

.botonLink {
    background-color: #F7F7F7;
    border: none;
    color: #0097AF;
}

.botonLink:hover {
    text-decoration: underline;
}

.botonLinkProducto {
    background-color: white;
    border: none;
    color: #0097AF;
}

.botonLinkProducto:hover {
    text-decoration: underline;
}

.linkProducto {
    background-color: white;
    color: #0097AF;
    text-decoration: none;
}

.linkProducto:hover {
    text-decoration: underline;
}

@media (max-width: 767.98px) { 
    .disable-float {
        float: left;
    }
}

@media (min-width: 767.98px) { 
    .disable-float {
        float: right;
    }
}

.linkNormal {
    text-decoration: none;
    color: black;
}

.linkNormal:hover {
    text-decoration: underline;
}

.hoverFondo:hover {
    background-color: #EEEEEE !important;
}

@media (max-width: 767.98px) {
    .navbarDisable {
        display: none;
    }
}

@media (max-width: 991.98px) { 
    .navbarDisableImg {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbarEnableImg {
        display: none;
    }
}

.cardProduct {
    border: none !important;
    cursor: pointer;
    height: 16rem;
    transition: transform 0.3s 0.1s ease;
}

.cardProduct:hover {
    z-index: 1;
    outline: 1px solid #EEEEEE !important;
    transform: translateY(-13px);
}

.border-section {
    position: relative;
    height: 10rem;
}
  
.imagenCentrar {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
}

.cardProduct img {
    padding: 0rem 3rem;
}

.cardName {
    position: absolute;
    text-align: center;
    top: 10rem;
    padding: 0px 7px;
}

.cardPrice {
    position: absolute;
    text-align: center;
    top: 13.5rem;
}

@media (min-width: 500px) { 
    .cardProduct {
        height: 20rem;
    }

    .border-section {
        height: 14rem;
    }

    .cardProduct img {
        padding: 0rem 3.3rem;
    }

    .cardName {
        top: 14rem;
    }

    .cardPrice {
        top: 17.5rem;
    }
}

@media (min-width: 576px) { 
    .cardProduct {
        height: 20rem;
    }

    .border-section {
        height: 14rem;
    }

    .cardProduct img {
        padding: 0rem 4.5rem;
    }

    .cardName {
        top: 14rem;
    }

    .cardPrice {
        top: 17.5rem;
    }
}

@media (min-width: 768px) { 
    .cardProduct {
        height: 20rem;
    }

    .border-section {
        height: 14rem;
    }

    .cardProduct img {
        padding: 0rem 3.5rem;
    }

    .cardName {
        top: 14rem;
    }

    .cardPrice {
        top: 17.5rem;
    }
}

@media (min-width: 992px) { 
    .cardProduct {
        height: 20rem;
    }

    .border-section {
        height: 14rem;
    }

    .cardProduct img {
        padding: 0rem 3.5rem;
    }

    .cardName {
        top: 14rem;
    }

    .cardPrice {
        top: 17.5rem;
    }
}

@media (min-width: 1200px) { 
    .cardProduct {
        height: 20rem;
    }

    .border-section {
        height: 14rem;
    }

    .cardProduct img {
        padding: 0rem 4.8rem;
    }

    .cardName {
        top: 14rem;
    }

    .cardPrice {
        top: 17.5rem;
    }
}

@media (min-width: 1400px) { 
    .cardProduct {
        height: 20rem;
    }

    .border-section {
        height: 15rem;
    }

    .cardProduct img {
        padding: 0rem 6rem;
    }

    .cardName {
        top: 15.5rem;
    }

    .cardPrice {
        top: 17.5rem;
    }
}

.cardCategory {
    border: none !important;
    cursor: pointer;
    height: 10rem;
}

.cardCategory:hover {
    z-index: 1;
    outline: 1px solid #EEEEEE !important;
}

.border-section-category {
    position: relative;
    height: 7rem;
}

.cardCategory img {
    padding: 0rem 1.5rem;
}

.cardCategoryBody {
    position: absolute;
    text-align: center;
    top: 6.5rem;
}

@media (min-width: 500px) { 
    .cardCategory {
        height: 14em;
    }
    
    .border-section-category {
        height: 10rem;
    }

    .cardCategory img {
        padding: 0rem 2rem;
    }

    .cardCategoryBody {
        top: 11rem;
    }
}

@media (min-width: 576px) { 
    .cardCategory {
        height: 12em;
    }
    
    .border-section-category {
        height: 8rem;
    }

    .cardCategory img {
        padding: 0rem 1.5rem;
    }

    .cardCategoryBody {
        top: 8rem;
    }
}

@media (min-width: 768px) { 
    .cardCategory {
        height: 12em;
    }
    
    .border-section-category {
        height: 8rem;
    }

    .cardCategory img {
        padding: 0rem 1.5rem;
    }

    .cardCategoryBody {
        top: 8rem;
    }
}

@media (min-width: 992px) { 
    .cardCategory {
        height: 12em;
    }
    
    .border-section-category {
        height: 8rem;
    }

    .cardCategory img {
        padding: 0rem 1.5rem;
    }

    .cardCategoryBody {
        top: 8rem;
    }
}

@media (min-width: 1200px) { 
    .cardCategory {
        height: 12em;
    }
    
    .border-section-category {
        height: 8rem;
    }

    .cardCategory img {
        padding: 0rem 2rem;
    }

    .cardCategoryBody {
        top: 9rem;
    }
}

@media (min-width: 1400px) { 
    .cardCategory {
        height: 14em;
    }
    
    .border-section-category {
        height: 10rem;
    }

    .cardCategory img {
        padding: 0rem 2rem;
    }

    .cardCategoryBody {
        top: 11rem;
    }
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}